name: deploy to flat.badgen.net

on:
  push:
    branches:
      - master
      - deploy-flat

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: 'now --version'
      - run: 'now -S badgen alias $(now -S badgen --force --token ${{ secrets.ZEIT_TOKEN }}) flat.badgen.net --token ${{ secrets.ZEIT_TOKEN }}'
