name: lint and build

on: pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '16'
    - name: npm install, build, and test
      run: |
        npm ci
        npm run lint
        npm run build --if-present
      env:
        CI: true
