name: Lint and Build

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: '24'
    - name: npm install, build, and test
      run: |
        npm ci
        npm run lint
        npm run build --if-present
      env:
        CI: true
